[general]

name = da_design_20181474

[db]

ip = 127.0.0.1
port = 27017
name = da_design_20181474

col_user = User
col_favorites = Favorites
col_company = Company
col_company_predicted = PredictedCompanyStock
col_company_similar_list = SimilarCompanyList

[logger]

log_directory = %(DA_DESIGN_SERVER_20181474)s/log

